body {
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  --bs-gutter-x: 0rem;
  background-color: #232332 !important;
}

.fade-in {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

nav{
  background-color: #868686; 
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.section-video-metaverso {
  font-size: 20px;
  padding-top: 82px;
}

.section-registro {
  margin-top: 70px;
}

h3 {
  border-bottom: 2px solid rgb(255, 255, 255);
  text-align: center;
  max-width: 80%;
  margin: 0 auto;
  padding-bottom: 2px;
  padding-top: 10px;
  color: #fff !important;
}

footer {
  bottom: 0;
  background-image: linear-gradient(76deg, #3e7c54, #08534d);
  color: #fff;
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  --bs-gutter-x: unset;
}

footer h4 {
  font-size: 22px;
  margin-bottom: 20px;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer ul li a {
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
  text-decoration: none;
}

footer ul li a:hover {
  text-decoration: underline;
}

.icon-red-social {
  padding: 3px;
  width: 30px;
  height: 30px;
}

.icono-nav {
  width: 40px;
  height: 40px;
  padding: 3px;
}

.icono-partner {
  height: 50px;
  width: 135px;
  opacity: 0.75;
}

.card-img-top {
  height: 175px;
}

#logo-footer {
  max-width: 90%;
}

#map-sede {
  max-width: 100%;
  max-height: 100%;
}

#map-evento {
  max-width: 100%;
  max-height: 60%;
}

.div-mapa {
  height: 260px;
}

.video-metaverso {
  max-width: 100%;
}

.lista-redes li {
  display: flex;
  align-items: center;
  padding-left: 20%;
}

.fondo-video-metaverso {
  background-image: linear-gradient(#b06fc0, #6c357a 44%, #470e55);
  padding: 20px;
  max-width: 80%;
  margin: 0 auto;
}

.div-rojo {
  background-image: linear-gradient(to left, #f14040, #b12f2f 30%, #6b1e1e);
  color: white;
}

.border-card {
  box-shadow: 0 0 5px 5px rgba(30, 61, 107, 0.99);
  background-color: rgb(182, 182, 182) !important;
}

.btn-register-nav {
  font-size: 10px;
  background-color: #ce4848 !important;
  font-size: 15px !important;
}

.redes-sociales-container {
  text-align: center;
}

.p-final-registro {
  border-bottom: 5px solid rgb(109, 109, 109);
  display: inline-block;
}

.formulario {
  color: #fff !important;
}

.icono-tema{
  width: 30px;
  height: 30px;
}